<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application>
        <activity
            android:name="fr.vueconfort.app.mediaprojection.MediaProjectionConsentActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.VueConfort" />
        <service
            android:name="fr.vueconfort.app.mediaprojection.MediaProjectionMagnifierService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>
